 --disable markTypes,isEmpty,preferKeyPath,redundantVoidReturnType,sortedImports,sortedSwitchCases,spaceAroundBrackets,trailingCommas,wrapAttributes,wrapEnumCases,wrapMultilineStatementBraces,wrapSwitchCases,redundantFileprivate,unusedArguments
 --ranges nospace 
 --wraparguments after-first 
 --swiftversion "5.0"