 --disable markTypes,isEmpty,preferKeyPath,redundantVoidReturnType,sortedImports,sortedSwitchCases,spaceAroundBrackets,trailingCommas,unusedArguments,wrapAttributes,wrapEnumCases,wrapMultilineStatementBraces,wrapSwitchCases,redundantFileprivate 
 --ranges nospace 
 --wraparguments after-first 
 --swiftversion "5.0"